@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');


body, html
{
    margin: 0;
    padding: 0;
    font-family: Lalezar;
    background-color: #667C26;
}


header img
{
    margin: 0;
    padding: 0;
}


img
{
    width: 100%;
    object-fit: cover;
    height: 9em;
    margin: 0;
}

#navbar
{
    background-color: #667C26;
    height: 3.8em;
    margin-top: -1.7em;
    filter: drop-shadow(0 0 0.75rem crimson);
}

#navbar ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
    height: 100%;
}

#navbar ul
{
    padding: 0 0.8em;
}

#navbar ul li a
{
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

#navbar ul li a.active {
    background-color: #F5F5DC;
    color: #667C26;
    border-radius: 10px;
    padding: 0.7em;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
}



#pizza-page
{
    background-color: #667C26;
    margin: 0;
    height: auto;
}