
*{
    margin: 0;
    padding: 0;
}


body
{
    display: flex;
    flex-direction: column;
    height: 90vh;
}

body, html {
    margin: auto;
    padding: 0;
    font-family: Lalezar, system-ui;
    font-style: normal;
    font-display: swap;
    background-color: #006233;
}



span, p, a {
    color: #F5F5DC;
}

#header-image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 33.81%; /* 252 / 721 * 100 = 34.81% */
}

#header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#navbar {
    background-color: #874338;
    height: 3.8em;
    transform: translateY(-1.5em);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
    height: 100%;
}

#navbar ul {
    padding: 0 1em;
}

#navbar ul li a {
    text-decoration: none;
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#navbar ul li a.active {
    background-color: #F5F5DC;
    color: #874338;
    border-radius: 10px;
    padding: 0.7em;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1 0 auto;
}


.menu-container {
    display: flex;
    flex-direction: column;
    margin-bottom: -1em;
    transform: translateY(1.4em);
    padding: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-row {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    transform: translateY(-3em);
    direction: rtl;
    margin-bottom: 0.8em;
}

.title {
    font-size: 1.5em;
    text-align: right;
    padding-top: 0.5em;
}

.price {
    text-align: left;
    padding-top: 1.4em;
    font-size: 1em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    background-color: #fbfad3; 
    margin: 0;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 0;
    margin-bottom: 0;
}

.icon-container a {
  -webkit-tap-highlight-color: transparent;
}

.icon-container a img {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 5em; /* Adjust as needed */
    height: 5em; /* Adjust as needed */
    aspect-ratio: 1 / 1;

}

.footer-text {
    flex-shrink: 0;
    min-height: 2em;
    text-align: center;
    color: #0B210E;
    margin-top: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {

    #header-image-wrapper {
        display: none;
    }

    #navbar {
        transform: translateY(-5px);
        position: sticky;
        top: 0;
        height: 5em;
        min-width: 100%;
        z-index: 9999;
    }
    .text-container {
        display: flex;
        flex-direction: column;
    }
    .text-row {
        display: flex;
        justify-content: space-between;
        padding-right: 15%;
        padding-left: 15%;
        transform: translateY(-3em);
        direction: rtl;
        margin-bottom: 0.8em;
    }
    .title {
        font-size: 1.5em;
        text-align: right;
        padding-top: 2em;
    }
    
    .price {
        text-align: left;
        font-size: 1em;
        padding-top: 3em;
    }

}





@media screen and (min-width: 1024) {
    #header-image-wrapper {
        display: none;
    }


    #navbar {
        transform: translateY(-5px);
        position: sticky;
        top: 0;
        min-height: 5em;
        min-width: 100%;
        z-index: 9999;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        
    }
    .text-row {
        display: flex;
        justify-content: space-between;
        padding-right: 15%;
        padding-left: 15%;
        transform: translateY(-3em);
        direction: rtl;
        margin-bottom: 0.8em;
    }

}